<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet"  href="../../css/style.css" type="text/css"/>
    </head>
    <body>
        {{>header}}
        <p>this page is about Author of this page</p>
        {{>footer}} 
    </body>
</html>