<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="../../css/style.css" type="text/css">
    </head>
    <body>
        {{>header}}
        <p>this is some helpful text</p>
        {{>footer}}
        
    </body>
</html>